<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul id="navigation-menu" class="nav navbar-nav navbar-left">
        <li><%= link_to "My Lists",  root_path %></li>
        <li><%= link_to "Favorites", home_favorites_path %></li>
        <li><%= link_to "Users",     home_users_path %></li>
      </ul>
      <ul id="navigation-menu" class="nav navbar-nav navbar-right">
        <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </nav>
    <%= link_to "ACME Task List", '#', id: "logo" %>
  </div>
</header>