<div id="sidebar-wrapper">
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="sidebar-brand">
      </li>
      <li class="sidebar-brand">
        <a href="#"><span class="fa fa-home solo">New List</span></a>
      </li>

      <div id="list-container" class="container">
        <%= simple_form_for List.new, url: lists_create_path, remote: true do |f| %>
          <%= f.input :title, label: false, placeholder: "Title" %>
          <%= f.input :private, as: :boolean %>
          <%= f.button :submit, "Create" %>
        <% end %>
      </div>

      <hr />

      <% @lists.each do |list|%>
        <li>
          <%= link_to list.title, lists_show_path(:id => list.id), remote: true %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>